@use "./src/theme/colors";
@use "./src/theme/components";

.card {
  @include components.card;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 384px;
  transition: 0.2s;

  &:hover {
    transform: scale(1.04);
  }

  .status {
    @include components.text;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: absolute;
    top:-16px;
    right: -16px;
    padding: 7px 24px;
    background: colors.$black;
    border: 1px solid #FBFBFF;
    border-radius: 32px;

    .indicator {
      width: 8px;
      height: 8px;
      border-radius: 100px;
      margin-left: 8px;

      &.open {
        background: colors.$green;
      }

      &.upcoming {
        background: colors.$blue;
      }
    }
  }

  .banner {
    width: 384px;
    height: 140px;
  }

  .card-content {
    padding: 16px 40px 32px 40px;

    .card-title {
      @include components.text-card-header;
      display: flex;
      align-items: center;


      .logo {
        width: 55px;
        height: 55px;
        border: 1px solid colors.$grey-border;
        border-radius: 100px;
        margin-right: 16px;
      }
    }

    .sale-end {
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: colors.$green;
      margin-top: 8px;
    }

    .public-price {
      @include components.text;
      margin-top: 16px;
    }

    .allocation {
      @include components.text;
      margin-top: 24px;
    }

    .amount {
      @include components.text-card-header;
      margin-top: 8px;
    }

    .bull-rate {
      @include components.text;
      margin-top: 24px;
    }
  }

  @media screen and (max-width: 1199px) {
    width: 288px;

    &:hover {
      transform: unset;
    }

    .status {
      font-weight: 600;
      top: 8px;
      right: 8px;
      padding: 4px 16px;

      .indicator {
        margin-left: 7px;
      }
    }

    .banner {
      width: 288px;
      height: 106px;
    }

    .card-content {
      padding: 8px 32px 24px 32px;

      .card-title {

        .logo {
          width: 31px;
          height: 31px;
          margin-right: 8px;
        }
      }

      .sale-end {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: colors.$green;
        margin-top: 16px;
      }

      .allocation {
        margin-top: 16px;
      }

      .amount {
        margin-top: 4px;
      }

      .bull-rate {
        margin-top: 16px;
      }
    }
  }
}
