@use "./src/theme/colors";
@use "./src/theme/components";

.status {
  @include components.text;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: absolute;
  top:-16px;
  right: -16px;
  padding: 7px 24px;
  background: colors.$black;
  border: 1px solid #FBFBFF;
  border-radius: 32px;

  .indicator {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-left: 8px;

    &.open {
      background: colors.$green;
    }

    &.upcoming {
      background: colors.$blue;
    }
  }
}
