@use "./src/theme/colors";

.menu-icon {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 16px;

  .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: none;
  }

  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 9px;
  }

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: colors.$white;
    border-radius: 1px;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      top: 0;
    }

    &:last-of-type {
      bottom: 0;
    }
  }

  &.active,
  .menu-icon__cheeckbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 2px;
        background-color: #FFFFFF;
      }

      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
        background-color: #FFFFFF;
      }
    }
  }
}
