@use "./src/theme/colors";

.mobile-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 36px;
  left: 16px;
  right: 16px;

  .right {
    display: flex;
    align-items: center;

    button:first-of-type {
      margin-right: 8px;
    }
  }
}
