@use "./src/theme/colors";
@use "./src/theme/components";

.header {
  position: absolute;
  height: 88px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: colors.$black;
  z-index: 10;
  padding: 0 112px;

  &.fixed {
    position: fixed;
    animation: header-appear 0.2s ease-in-out;
  }

  &.animated {
    animation: header-disappear 0.2s ease-in-out;
  }

  .left {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 48px;
    width: fit-content;
    background: colors.$black;
    z-index: 10;

    a {
      margin-right: 32px;
    }

    .logo {
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;

    .button:first-child {
      margin-right: 32px;
    }

    &.wallet-disconnected {

      .profile-button {
        margin-right: 21px;
      }
    }
  }
}

@keyframes header-appear {
  from {
    top: -88px;
  }

  to {
    top: 0;
  }
}

@keyframes header-disappear {
  from {
    top: 0;
  }

  to {
    top: -88px;
  }
}
