@use "../../theme/colors";
@use "../../theme/components";

.mobile-filter {
  position: absolute;
  top: 4px;
  right: 0;

  .button {
    display: flex;
    align-items: center;
    @include components.text;
  }

  .filter-button {
    position: relative;
    width: 24px;
    height: 9px;
    cursor: pointer;
    margin-left: 7px;

    .filter-button__cheeckbox {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
      -webkit-touch-callout: none;
      position: absolute;
      opacity: 0;
      margin: 0;
      padding: 0;
      border: none;
    }

    div {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 24px;
      height: 9px;
    }

    span {
      position: absolute;
      display: block;
      height: 1px;
      background-color: colors.$white;
      border-radius: 1px;
      transition: all 0.4s ease-in-out;

      &:first-of-type {
        top: 0;
        width: 96%;
        right: 2px;
      }

      &:nth-child(2) {
        top: 4px;
        right: 6.55px;
        width: 75%;
      }

      &:last-of-type {
        bottom: 0;
        right: 13px;
        width: 50%;
      }
    }

    &.active,
    .filter-button__cheeckbox:checked + div {
      span {
        left: unset;
        right: 0;
      }
    }
  }
}
