@use "../../../../theme/colors";
@use "../../../../theme/components";

.burger-menu {
  position: fixed;
  background: colors.$black;
  height: 100vh;
  padding: 0 16px;
  top: -600px;
  left: 0;
  right: 0;
  bottom: -600px;
  z-index: 1;
  animation: burger-menu-disappear 0.4s ease-in-out;

  &.visible {
    top: 70px;
    bottom: 0;
    animation: burger-menu-appear 0.4s ease-in-out;
  }

  .burger-menu-item {
    @include components.text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    margin: 0 !important;
    border-bottom: 1px solid colors.$dark-grey-border;

    .arrow-icon {
      margin-top: 0;
      width: 20px;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:nth-child(2) {
      padding: 6px 0;
    }
  }
}

@keyframes burger-menu-appear {
  from {
    top: -600px;
    bottom: -600px;
  }

  to {
    top: 70px;
    bottom: 0;
  }
}

@keyframes burger-menu-disappear {
  from {
    top: 70px;
    bottom: 0;
  }

  to {
    top: -600px;
    bottom: -600px;
  }
}
