@use "./src/theme/components";

.project-page {
  @include components.container;
  margin: 120px auto 130px auto;

  .navigation-bar {
    @include components.navigation-bar;
  }

  .project-title {
    @include components.text-header;
    margin: 24px 0 32px;
  }

  .project-details {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 1199px) {
    max-width: 370px;
    margin-top: 82px;

    .project-title {
      font-size: 16px;
      margin: 16px 0 8px;
    }

    .project-details {
      flex-direction: column-reverse;
    }
  }
}